.trauma{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trauma__section1{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctor__card{
    max-width: 1150px;
    height: auto;
}

.doctor__img{
    width: 360px;
    float: left;
    margin-right: 10px;
}

.doctor__procedure{
    font-size: 30px;
    text-decoration: underline #44D9EE;
    text-align: center;
}

.doctor{
    text-decoration: underline #44D9EE;
}

.doctor__description{
    font-size: 20px;
    padding: 10px;
    border-bottom: 2px solid #44D9EE;
}

.trauma__section2{
    height: auto;
    min-width: 80vw;
    display: flex;
    flex-direction: column;
}


.sport__medicine{
    height: 50vh;
    width: 80vw;
    text-align: center;
}

.sport__img{
    width: 700px;
    height: 100%;
    float: left;
}

.text__container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.sport__tittle{
    font-size: 30px;
    margin-top: -100px;
    text-decoration: underline #44D9EE;
}

.sport__description{
    font-size: 22px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.spine__dorsal{
    height: 50vh;
    width: 80vw;
    text-align: center;
    display: flex;
    margin-top: 100px;
}

.spine__text__container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.spine__tittle{
    font-size: 30px;
    text-decoration: underline #44D9EE;
}

.spine__description{
    font-size: 22px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.spine__img{
    width: 700px;
    height: 100%;
    float: right;
}

.trauma__section3{
    width: 100vw;
    height: 50vh;
    background-color: #84DFEC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.icon__box{
    display: flex;
    width: 1300px;
    height: 90%;
    justify-content: space-evenly;
}

.trauma__item{
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.trauma__icon{
    color: #005989;
    font-size: 45px;
}

.trauma__icon--png{
    width: 50px;
}

.trauma__span{
    color: #5E5E5E;
    font-size: 24px;
}

.icon__p{
    display: inline;
    font-size: 20px;
    text-align: center;
    color: #5E5E5E;
}