:root {
  --frontpage-size: 100%;
  --frontpage-pos: top;
  --travel-box-size1: 190%;
  --travel-box-size2: 250%;
  --travel-info-size: 100%;
}

.destinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
}

/* FrontPage */
.destinations__section1 {
  display: flex;
  height: 90vh;
  width: 100vw;
  align-items: center;
}

.front__page {
  height: 700px;
  width: 60%;
}

.destinations__section1__description {
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 25vw;
  margin-left: 300px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fafafa;
  color: #000;
  border: 2px solid black;
}

.destinations__section1__h3 {
  font-size: 35px;
  width: 90%;
}

.destinations__section1__text {
  font-size: 19px;
  width: 80%;
}

/* TravelBox */
.destinations__section2 {
  margin-top: 100px;
  height: 100vh;
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 28vh);
  grid-gap: 30px;
}

.destinations__section2__item {
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  line-height: 45px;
  text-align: center;
}

.destinations__section2__item:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}

.destinations__section2__item:nth-child(6) {
  grid-column: 3/5;
  grid-row: 2/4;
}

.destinations__section2__h3 {
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 6px;
  margin-bottom: 50px;
}

.readmore__btn {
  padding: 0 7px;
  background-color: #44d9ee;
  border: 2px solid #44d9ee;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #000;
  transition: 0.3s;
}

.--beverly {
  pointer-events: none;
}

.readmore__btn:hover {
  background-color: #fafafa;
  border: 2px solid #44d9ee;
}

.--beverly:hover {
  pointer-events: none;
}

/* TravelInfo */
.ensenada__info,
.rosarito__info,
.sandiego__info,
.tijuana__info,
.la__info {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
}

.ensenada__info__container,
.rosarito__info__container,
.sandiego__info__container,
.tijuana__info__container,
.la__info__container {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 80vh;
  background-color: #edfdff;
  color: #000;
}

.ensenada__info__h2,
.rosarito__info__h2,
.sandiego__info__h2,
.tijuana__info__h2,
.la__info__h2 {
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: auto;
}

.ensenada__info__p, 
.rosarito__info__p, 
.sandiego__info__p, 
.tijuana__info__p, 
.la__info__p {
  width: 60%;
  height: auto;
  text-align: center;
  font-size: 15px;
  border: 5px solid gray;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 10px 0;
}

.ensenada__close__btn,
.rosarito__close__btn,
.sandiego__close__btn,
.tijuana__close__btn,
.la__close__btn {
  position: absolute;
  font-size: 25px;
  top: 20px;
  right: 50px;
  color: #edfdff;
  cursor: pointer;
}

/* Benefits */
.destinations__section3 {
  display: flex;
  height: 90vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.destinations__section3__container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin-right: 50px;
}

.destinations__section3__h2 {
  font-size: 45px;
}

.destinations__section3__text {
  font-size: 18px;
}

.deestinations__section3__img__container {
  height: 60vh;
  width: 40vw;
}

.deestinations__section3__img {
  height: 100%;
  width: 100%;
}

/* Contact */
.destinations__contact {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #44d9ee;
}

.destinations__contact__h2 {
  color: #000000;
  font-size: 45px;
  margin-bottom: 10vh;
  text-decoration: underline 3px solid #005989;
}

.destinations__contact__container {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  width: 35vw;
  border: 2px solid #005989;
  border-radius: 15px;
}

.destinations__contact__item {
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  transition-duration: 0.2s;
}

.destinations__contact__item:hover {
  color: #fafafa;
}

.destinations__contact__icon {
  font-size: 35px;
  margin-bottom: 10px;
}

.destinations__contact__span {
  font-size: 17px;
}

@media screen and (max-width: 1700px) {
  /* FrontPage */
  .destinations__section1__description {
    height: 60vh;
    width: 30vw;
    margin-left: 200px;
  }

  /* TravelInfo */
  .ensenada__info__container,
  .rosarito__info__container,
  .sandiego__info__container,
  .tijuana__info__container,
  .la__info__container {
    width: 80vw;
  }

  .ensenada__info__p, 
  .rosarito__info__p, 
  .sandiego__info__p, 
  .tijuana__info__p, 
  .la__info__p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1500px) {
  :root {
    --travel-box-size1: 230%;
  }

  /* FrontPage */
  .destinations__section1__description {
    width: 40vw;
    margin-left: 150px;
  }

  /* Contact */
  .destinations__contact__icon {
    font-size: 33px;
  }

  .destinations__contact__span {
    font-size: 15px;
  }

  .destinations__contact__h2 {
    font-size: 42px;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --frontpage-size: 150%;
    --travel-info-size: 140%;
  }

  /* FrontPage */
  .destinations__section1__description {
    margin-left: 100px;
  }

  .destinations__section1__h3 {
    font-size: 32px;
  }

  .destinations__section1__text {
    font-size: 17px;
  }

  /* TravelBox */
  .destinations__section2 {
    width: 85vw;
  }

  .destinations__section2__h3 {
    font-size: 25px;
  }

  .readmore__btn {
    font-size: 12px;
  }

  /* TravelInfo */
  .ensenada__info__p, 
  .rosarito__info__p, 
  .sandiego__info__p, 
  .tijuana__info__p, 
  .la__info__p {
    width: 70%;
  }

  /* Benefits */
  .destinations__section3__container {
    width: 40vw;
  }

  .deestinations__section3__img__container {
    width: 50vw;
  }

  /* Contact */
  .destinations__contact__icon {
    font-size: 31px;
  }

  .destinations__contact__span {
    font-size: 14px;
  }

  .destinations__contact__h2 {
    font-size: 40px;
  }

  .destinations__contact__h2 {
    font-size: 40px;
  }

  .destinations__contact__icon {
    font-size: 31px;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --frontpage-size: 160%;
  }

  /* FrontPage */
  .destinations__section1__description {
    width: 50vw;
    height: 50vh;
    margin-left: 80px;
    margin-top: -50px;
  }

  .destinations__section1__h3 {
    font-size: 30px;
  }

  .destinations__section1__text {
    font-size: 16px;
  }

  /* TravelBox */
  .destinations__section2 {
    width: 95vw;
    height: 75vh;
    grid-template-rows: repeat(3, 22vh);
    grid-gap: 20px;
  }

  /* TravelInfo */ 
  .ensenada__info__container,
  .rosarito__info__container,
  .sandiego__info__container,
  .tijuana__info__container,
  .la__info__container {
    width: 95vw;
  }

  .ensenada__info__p, 
  .rosarito__info__p, 
  .sandiego__info__p, 
  .tijuana__info__p, 
  .la__info__p {
    width: 85%;
  }

  /* Benefits */
  .destinations__section3 {
    flex-direction: column;
  }

  .destinations__section3__container {
    height: 45vh;
    width: 80vw;
  }

  .deestinations__section3__img__container {
    height: 45vh;
    width: 80vw;
  }

  .destinations__section3__h2 {
    font-size: 42px;
  }

  .destinations__section3__text {
    font-size: 17px;
  }

  /* Contact */
  .destinations__contact__container {
    width: 50vw;
  }

  .destinations__contact__h2 {
    font-size: 36px;
  }

  .destinations__contact__icon {
    font-size: 27px;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --frontpage-size: 180%;
    --travel-box-size1: 290%;
    --travel-box-size2: 290%;
    --travel-info-size: 180%;
  }

  /* FrontPage */
  .destinations__section1 {
    height: 70vh;
  }

  .destinations__section1__description {
    width: 55vw;
    height: 45vh;
    margin-left: 50px;
    margin-top: -100px;
  }

  .destinations__section1__h3 {
    font-size: 26px;
  }

  .destinations__section1__text {
    font-size: 14px;
  }

  /* TravelBox */
  .destinations__section2 {
    width: 95vw;
    height: 90vh;
    grid-template-rows: repeat(3, 24vh);
    grid-gap: 10px;
  }

  .destinations__section2__h3 {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 0 3px;
  }

  .readmore__btn {
    font-size: 10px;
    padding: 0 3px;
  }

  /* TravelInfo */
  .ensenada__info__p, 
  .rosarito__info__p, 
  .sandiego__info__p, 
  .tijuana__info__p, 
  .la__info__p {
    width: 90%;
    font-size: 18px;
  }

  /* Benefits */
  .destinations__section3 {
    justify-content: space-evenly;
  }

  .destinations__section3__h2 {
    font-size: 30px;
  }

  .destinations__section3__text {
    font-size: 16px;
  }

  .deestinations__section3__img__container {
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --frontpage-size: 300%;
    --frontpage-pos: -100px top;
    --travel-info-size: 350%;
  }

  /* FrontPage */
  .destinations__section1 {
    height: 90vh;
  }

  .destinations__section1__description {
    width: 60vw;
    height: 53vh;
    margin-left: 30px;
    margin-top: -100px;
  }

  .destinations__section1__h3 {
    font-size: 23px;
  }

  .destinations__section1__text {
    font-size: 13px;
  }

  /* TravelBox */
  .destinations__section2 {
    height: 70vh;
    grid-template-rows: repeat(3, 18vh);
  }

  .destinations__section2__h3 {
    font-size: 12px;
  }

  .readmore__btn {
    font-size: 8px;
    height: 3vh;
    display: flex;
    align-items: center;
  }

  /* TravelInfo */
  .ensenada__info__p,
  .rosarito__info__p,
  .sandiego__info__p,
  .tijuana__info__p {
    font-size: 14px;
  }

  .la__info__p,
  .la__info__p2 {
    width: 45%;
    font-size: 14px;
  }

  /* Benefits */
  .destinations__section3 {
    height: 100vh;
  }

  .destinations__section3__h2 {
    font-size: 24px;
  }

  .destinations__section3__text {
    font-size: 14px;
  }

  /* Contact */
  .destinations__contact__container {
    width: 65vw;
  }

  .destinations__contact__h2 {
    font-size: 30px;
  }

  .destinations__contact__icon {
    font-size: 25px;
  }
}

@media screen and (max-width: 395px) {
  :root {
    --travel-info-size: 380%;
  }

  /* FrontPage */
  .destinations__section1 {
    height: 95vh;
  }

  .destinations__section1__description {
    margin-left: 20px;
    margin-top: -100px;
    height: 62vh;
  }

  .destinations__section1__h3 {
    font-size: 22px;
  }

  .destinations__section1__text {
    font-size: 12px;
  }

  /* TravelBox */
  .destinations__section2 {
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 30vh);
    margin-top: 70px;
  }

  .destinations__section2__item:first-child {
    grid-column: unset;
    grid-row: unset;
  }

  .destinations__section2__item:nth-child(6) {
    grid-column: unset;
    grid-row: unset;
  }

  /* Benefits */
  .destinations__section3 {
    height: 130vh;
  }

  /* Contact */
  .destinations__contact__container {
    width: 80vw;
  }
}

@media screen and (max-width: 330px) {
  :root {
    --frontpage-size: 350%;
  }

  /* FrontPage */
  .destinations__section1__description {
    width: 65vw;
    height: 70vh;
    margin-left: 10px;
    margin-top: -20px;
  }

  .destinations__section1__h3 {
    font-size: 20px;
  }

  /* TravelBox */
  .readmore__btn {
    font-size: 10px;
    height: 5vh;
  }

  /* Benefits */
  .destinations__section3 {
    height: 140vh;
    justify-content: space-between;
  }

  .destinations__section3__container {
    width: 80%;
  }

  .destinations__section3__h2 {
    font-size: 22px;
    width: 100%;
  }

  .destinations__section3__text {
    font-size: 12px;
    width: 100%;
  }

  .deestinations__section3__img__container {
    height: 60vh;
    width: 90vw;
  }
}
