.bariatric{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bariatric__section1{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bariatric__card{
    max-width: 1150px;
    height: auto;
    border-bottom: 2px solid #44D9EE;
}

.bariatric__img{
    width: 360px;
    float: left;
    margin-right: 10px;
}

.bariatric__procedure{
    font-size: 30px;
    text-decoration: underline #44D9EE;
    text-align: center;
}

.bariatric__doctor__name{
    text-decoration: underline #44D9EE;
}

.bariatric__description{
    font-size: 20px;
    padding: 0 10px;
}

.bariatric__section2{
    width: 100vw;
    height: 60vh;
    display: flex;
    background-color: #84DFEC;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.bariatric__icon__box{
    display: flex;
    width: 1300px;
    height: 80%;
    justify-content: space-evenly;
}

.bariatric__item{
    height: 100%;
    width: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bariatric__icon{
    color: #005989;
    height: 85px;
    margin-bottom: 20px;
}

.bariatric__span{
    color: #5E5E5E;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

.bariatric__item__text{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bariatric__icon__p{
    display: inline;
    font-size: 20px;
    text-align: center;
    color: #5E5E5E;
    margin-bottom: 15px;
}

.bariatric__section3{
    height: 120vh;
    min-width: 80vw;
    display: flex;
    flex-direction: column;
}

.bariatric__approaches{
    height: 80vh;
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,40vh);
}

.bariatric__approaches__item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid #fafafa;
    overflow: hidden;
}

.bariatric__approaches__item:nth-child(2),
.bariatric__approaches__item:nth-child(8){
    color: #fafafa;
}

.bariatric__approaches__item:nth-child(5){
    background-color: #84DFEC;
    color: #5E5E5E;
}

.bariatric__approaches__img{
    height: 100%;
    width: 100%;
}

.bariatric__approaches__tittle{
    font-size: 29px;
    margin-bottom: -50px;
}

.bariatric__approaches__p{
    font-size: 19px;
    display: flex;
    align-items: center;
}

.bariatric__section4{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80vh;
    width: 100vw;
    background-color: #84DFEC;
    color: #fafafa;
    position: relative;
}

.bariatric__other__img{
  position: absolute;
  left: 0;
  height: 100%;
}
 
.bariatric__other{
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 200px;
    background-color: #262626;
}

.bariatric__other__h2{
    font-size: 45px;
    text-align: center;
}

.bariatric__other__p{
    font-size: 25px;
    width: 20vw;
}

.bariatric__contact{
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bariatric__contact__h2{
    font-size: 45px;
    margin-bottom: 10vh;
    text-decoration: underline 3px solid #44D9EE;
}

.bariatric__contact__container{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: 35vw;
    border: 2px solid #44D9EE;
    border-radius: 15px;
}

.bariatric__contact__item{
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    transition-duration: 0.3s;
}

.bariatric__contact__item:hover{
    color:#44D9EE;
}

.bariatric__contact__icon{
    font-size: 35px;
    margin-bottom: 10px;
}

.bariatric__contact__span{
    font-size: 17px;
}

@media screen and (max-width: 1700px) {

    .bariatric__section2{
        height: 70vh;
    }

    .bariatric__icon__box{
        width: 80vw;
        height: 90%;
    }

    .bariatric__span{
        font-size: 23px;
    }

    .bariatric__icon__p{
        font-size: 19px;
    }

    .bariatric__approaches__p{
        font-size: 19px;
        padding: 0 10px;
    }

    .bariatric__item{
        width: 19vw;
    }



}

@media screen and (max-width: 1500px) {

    .bariatric__img{
        width: 340px;
    }

    .bariatric__procedure{
        font-size: 28px;
    }

    .bariatric__doctor__name{
        font-size: 22px;
    }

    .bariatric__description{
        font-size: 18px;
    }

    .bariatric__span{
        font-size: 22px;
    }

    .bariatric__icon__p{
        font-size: 18px;
    }

    .bariatric__approaches__tittle{
        font-size: 25px;
    }
    
    .bariatric__approaches__p{
        font-size: 17px;
    }

    .bariatric__other{
        margin-right: 50px;
        width: 32vw;
        height: 40vh;
    }
    
    .bariatric__other__h2{
        font-size: 43px;
    }
    
    .bariatric__other__p{
        font-size: 23px;
    }

    .bariatric__contact__icon{
        font-size: 33px;
    }
    
    .bariatric__contact__span{
        font-size: 15px;
    }

    .bariatric__contact__h2{
        font-size: 42px;
    }

}

@media screen and (max-width: 1200px) {

    .bariatric__card{
        width: 95vw;
    }

    .bariatric__img{
        width: 300px;
    }

    .bariatric__procedure{
        font-size: 26px;
    }

    .bariatric__doctor__name{
        font-size: 20px;
    }

    .bariatric__description{
        font-size: 16px;
    }

    .bariatric__icon__box{
        width: 95vw;
    }

    .bariatric__item{
        width: 25vw;
    }

    .bariatric__icon{
        height: 70px;
    }

    .bariatric__span{
        font-size: 22px;
    }

    .bariatric__icon__p{
        font-size: 18px;
    }

    .bariatric__approaches__tittle{
        font-size: 23px;
    }
    
    .bariatric__other{
        margin-right: 70px;
        width: 320px;
        height: 300px;
    }
    
    .bariatric__other__h2{
        font-size: 35px;
    }
    
    .bariatric__other__p{
        font-size: 20px;
    }

    .bariatric__contact__icon{
        font-size: 31px;
    }
    
    .bariatric__contact__span{
        font-size: 14px;
    }

    .bariatric__contact__h2{
        font-size: 40px;
    }

    .bariatric__other__img{
        height: 100%;
        width: 800px;
    }

    .bariatric__contact__h2{
      font-size: 40px;
    }

      .bariatric__contact__icon{
        font-size: 31px;
    }
    

}

@media screen and (max-width: 1100px) {

    .bariatric__other__img{
        height: 100%;
        width: 60vw;
    }

    .bariatric__other{
        margin-right: 6vw;
    }
    
}

@media screen and (max-width: 900px) {

    .bariatric__img{
        height: 330px;
    }

    .bariatric__procedure{
        font-size: 24px;
    }

    .bariatric__doctor__name{
        font-size: 19px;
    }

    .bariatric__description{
        font-size: 15px;
    }
    
    .bariatric__section2{
        height: 500px;
    }

    .bariatric__item{
        width: 30vw;
    }

    .bariatric__icon{
        height: 60px;
    }

    .bariatric__span{
        margin-top: 20px;
        font-size: 20px;
    }

    .bariatric__icon__p{
        font-size: 16px;
    }

    .bariatric__section3{
        height: 90vh;
    }

    .bariatric__approaches{
        height: 90vh;
        grid-template-rows: repeat(3,30vh);
    }

    .bariatric__approaches__tittle{
        font-size: 21px;
    }

    .bariatric__approaches__p{
        font-size: 15px;
        padding: 0 3px;
    }

    .bariatric__section4{
        height: 600px;
    }

    .bariatric__other{
        margin-right: 50px;
        width: 300px;
    }

    .bariatric__other__h2{
        font-size: 32px;
    }
    
    .bariatric__other__p{
        font-size: 19px;
    }
}

@media screen and (max-width: 800px) {

    .bariatric__card{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 70vh;
    }

    .bariatric__doctor__name{
        text-align: center;
    }

    .bariatric__text{
        margin-bottom: 10px;
    }

    .bariatric__img{
        width: 360px;
        margin-right: 0;
    }

    .bariatric__other{
        margin-right: 20px;
        width: 260px;
    }
    
    .bariatric__other__h2{
        font-size: 30px;
    }
    
    .bariatric__other__p{
        font-size: 18px;
    }

    .bariatric__icon{
        height: 50px;
    }

    .bariatric__span{
        margin-top: 20px;
        font-size: 18px;
    }

    .bariatric__icon__p{
        font-size: 15px;
    }

    .bariatric__section3{
        height: 75vh;
    }

    .bariatric__approaches{
        height: 75vh;
        grid-template-rows: repeat(3,25vh);
    }

    .bariatric__approaches__tittle{
        font-size: 19px;
    }

    .bariatric__approaches__p{
        font-size: 13px;
        padding: 0 3px;
    }

    .bariatric__section4{
        height: 500px;
    }

    .bariatric__other{
        margin-right: 35px;
        height: 280px;
        width: 220px;
    }

    .bariatric__other__img{
        width: 60vw;
    }

    .bariatric__other__h2{
        font-size: 28px;
    }
    
    .bariatric__other__p{
        font-size: 15px;
    }

    .bariatric__contact__container{
        width: 50vw;
    }

    .bariatric__contact__h2{
        font-size: 36px;
      }
  
    .bariatric__contact__icon{
      font-size: 27px;
    }
}

@media screen and (max-width: 600px) {

    .bariatric__section1{
        margin-top: 100px;
        height: 650px;
    }

    .bariatric__card{
        height: 600px;
    }

    .bariatric__text{
        margin: 0;
    }

    .bariatric__section2{
      height: 90vh;
      margin-top: 70px;
    }

    .bariatric__icon__box{
        height: 95%;
        flex-direction: column;
    }

    .bariatric__item{
        height: 100%;
        width: 90vw;
    }

    .bariatric__section3{
        height: 270vh;
        min-width: 100vw;
        display: flex;
    }
    
    .bariatric__approaches{
        height: 270vh;
        display: grid;    
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6,45vh);
    }

    .bariatric__approaches__tittle{
        font-size: 20px;
    }

    .bariatric__approaches__item:nth-child(3),
    .bariatric__approaches__item:nth-child(6),
    .bariatric__approaches__item:nth-child(9){
      display: none;
    }

    .bariatric__approaches__p{
        font-size: 16px;
    }

    .bariatric__section4{
        justify-content: center;
    }

    .bariatric__other{
        margin-right: 0;
        height: 350px;
        width: 55vw;
        position: relative;
        z-index: 10;
    }

    .bariatric__other__img{
        width: 100vw;
    }

    .bariatric__other__h2{
        font-size: 28px;
    }
    
    .bariatric__other__p{
        font-size: 16px;
    }

    .bariatric__contact__container{
        width: 65vw;
    }

    .bariatric__contact__h2{
        font-size: 30px;
      }
  
    .bariatric__contact__icon{
      font-size: 25px;
    }

}

@media screen and (max-width: 410px) {

    .bariatric__section1{
        margin-top: 140px;
    }

    .bariatric__img{
        height: 300px;
        width: 300px;
    }

    .bariatric__section2{
        height: 120vh;
        margin-top: 70px;
      }
  
}