:root {
  --home--backfround-pos: left;
  --home-frontpage-size: 75%;
  --section4-background-size: 100%;
}

.home {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* HomeSec1 */
.home__section1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.section1__textBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 37vw;
  height: 55vh;
  margin-right: 160px;
  margin-top: 50px;
}

.section1__h1 {
  font-size: 40px;
  margin-top: -50px;
  color: #525252;
  text-align: center;
}

.section1__p {
  font-size: 28px;
  color: #525252;
  text-align: center;
}

.section1__icon_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50vh;
  height: 10vh;
  position: relative;
  z-index: 11;
}

.section1__link {
  color: #525252;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.section1__link:hover {
  color: #44d9ee;
}

.section1__icon {
  font-size: 45px;
  margin-bottom: 7px;
}

.section1__icon__span {
  font-size: 18px;
  font-weight: 600;
}

/* HomeSec2 */
.home__section2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section2__cards__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  height: 47vh;
  width: 80vw;
  align-items: center;
  justify-content: center;
  grid-auto-rows: auto;
}

.section2__card {
  border: 1px solid #44d9ee;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  position: relative;
}

.section2__icon {
  height: 100px;
  position: absolute;
  top: -75px;
  left: 20px;
}

.section2__h3 {
  font-size: 22px;
  margin-top: 5vh;
  color: #fafafa;
}

.section2__parraph {
  font-size: 19px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #fafafa;
}

/* HomeSec3 */ 
.home__section3 {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__section3__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 580px;
}

.section3__h2 {
  font-size: 50px;
  text-decoration: underline 4px dashed #44d9ee;
  text-align: center;
}

.section3__text {
  width: 30vw;
  font-size: 20px;
  text-align: center;
}

.section3__hr {
  height: 90%;
  width: 4px;
  color: #44d9ee;
  background-color: #44d9ee;
  border: 1px solid #44d9ee;
  margin: 0 50px;
}

.section3__img {
  height: 100%;
}

/* HomeSec4 */
.section4 {
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.airplane {
  width: 80vw;
  position: absolute;
  top: 10vh;
}

.section4__container {
  margin-top: 150px;
  height: 55vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section4__pic {
  height: 80%;
  width: 380px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  border: 3px solid #a1a1a1;
}

.section4__img,
.section4__text {
  height: 250px;
  width: 350px;
  margin-top: 20px;
}

.section4__p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(68, 217, 238, 0.9);
  font-size: 20px;
  padding: 10px;
  border: 3px solid #005797;
}

/* HomeSec5 */
.home__section5 {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.section5__background {
  height: 900px;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section5__container {
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #44d9ee;
}

.section5__h2 {
  font-size: 50px;
}

.section5__text {
  font-size: 19px;
  width: 30vw;
}

@media screen and (max-width: 1700px) {
  :root {
    --home-frontpage-size: 70%;
  }

  /* HomeSec1 */
  .section1__textBox {
    margin-right: 130px;
  }

  .section1__h1 {
    font-size: 38px;
  }

  .section1__p {
    font-size: 26px;
  }

  .section1__icon {
    font-size: 43px;
  }

  .section1__icon__span {
    font-size: 17px;
  }

  /* HomeSec2 */
  .section2__cards__box {
    width: 90vw;
  }

  /* HomeSec5 */
  .section5__container {
    height: 50vh;
  }

  .section5__h2 {
    font-size: 47px;
  }
}

@media screen and (max-width: 1500px) {
  :root {
    --home-frontpage-size: 67%;
  }

  .section1__textBox {
    width: 42vw;
    margin-right: 110px;
  }

  .section1__h1 {
    font-size: 35px;
  }

  .section1__p {
    font-size: 22px;
  }

  .section1__icon {
    font-size: 39px;
  }

  .section1__icon__span {
    font-size: 15px;
  }

  /* HomeSec2 */
  .section2__cards__box {
    grid-gap: 15px;
    height: 50vh;
    width: 100vw;
  }

  .section2__icon {
    height: 90px;
    top: -70px;
  }

  .section2__h3 {
    font-size: 20px;
  }

  .section2__parraph {
    font-size: 17px;
  }

  /* HomeSec3 */
  .section3__h2 {
    font-size: 40px;
  }

  .section3__text {
    font-size: 17px;
  }

  .home__section3__container {
    height: 500px;
  }

  /* HomeSec5 */
  .section5__container {
    width: 45vw;
  }

  .section5__h2 {
    font-size: 40px;
  }

  .section5__text {
    font-size: 17px;
    width: 35vw;
  }
}

@media screen and (max-width: 1200px) {
  /* HomeSec1 */
  .section1__textBox {
    width: 45vw;
    margin-right: 80px;
  }

  .section1__h1 {
    font-size: 33px;
  }

  .section1__p {
    font-size: 20px;
  }

  .section1__icon {
    font-size: 37px;
  }

  .section1__icon__span {
    font-size: 13px;
  }

  .section2__icon {
    height: 80px;
    top: -65px;
  }

  .section2__h3 {
    font-size: 17px;
  }

  .section2__parraph {
    font-size: 15px;
  }

  /* HomeSec3 */
  .section3__h2 {
    font-size: 38px;
  }

  .section3__text {
    font-size: 15px;
  }

  /* HomeSec4 */
  .section4__pic {
    height: 70%;
    width: 300px;
  }

  .section4__img,
  .section4__text {
    height: 180px;
    width: 280px;
    margin-top: 20px;
  }

  .section4__p {
    font-size: 19px;
  }

  /* HomeSec5 */
  .section5__container {
    width: 53vw;
  }

  .section5__h2 {
    font-size: 35px;
  }

  .section5__text {
    font-size: 15px;
    width: 40vw;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --home-frontpage-size: 70%;
  }

  /* HomeSec1 */
  .section1__textBox {
    margin-right: 50px;
  }

  .section1__h1 {
    font-size: 31px;
  }

  .section1__p {
    font-size: 18px;
  }

  .section1__icon {
    font-size: 35px;
  }

  .section1__icon__span {
    font-size: 11px;
  }

  /* HomeSec2 */
  .section2__cards__box {
    grid-gap: unset;
  }

  .section2__card {
    height: 43vh;
  }

  .section2__icon {
    height: 60px;
    top: -45px;
    left: 5px;
  }

  .section2__h3 {
    font-size: 15px;
    margin-top: 3vh;
  }

  .section2__parraph {
    font-size: 11px;
  }

  /* HomeSec3 */
  .home__section3 {
    height: 100vh;
    justify-content: space-evenly;
  }

  .section3__h2 {
    font-size: 36px;
  }

  .section3__text {
    font-size: 13px;
    width: 100%;
  }

  .section3__hr {
    height: 70%;
  }

  .section3__img {
    height: 60vh;
  }

  /* HomeSec4 */
  .airplane {
    width: 95vw;
    top: 13vh;
  }

  .section4__pic {
    height: 65%;
    width: 230px;
  }

  .section4__img,
  .section4__text {
    height: 140px;
    width: 210px;
    margin-top: 15px;
  }

  .section4__p {
    font-size: 15px;
  }

  /* HomeSec5 */
  .section5__background {
    height: 95%;
    width: 95%;
  }

  .section5__container {
    width: 65vw;
  }

  .section5__text {
    width: 55vw;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --home-frontpage-size: 75%;
    --section4-background-size: 150%;
  }

  /* HomeSec1 */
  .section1__textBox {
    margin-right: 20px;
    width: 48vw;
  }

  .section1__h1 {
    font-size: 29px;
  }

  .section1__p {
    font-size: 16px;
  }

  .section1__icon_container {
    width: 100%;
  }

  .section1__icon {
    font-size: 29px;
  }

  .section1__icon__span {
    font-size: 9px;
  }

  /* HomeSec2 */
  .section2__card {
    height: 36vh;
    margin: 3px;
  }

  .section2__h3 {
    font-size: 13px;
    margin-top: 3vh;
  }

  .section2__parraph {
    font-size: 9px;
  }

  /* HomeSec3 */
  .section3__h2 {
    font-size: 36px;
    text-align: center;
  }

  .section3__text {
    font-size: 12px;
    width: 100%;
  }

  .section3__hr {
    height: 65%;
    width: 1px;
  }

  .section3__img {
    height: 50vh;
  }

  /* HomeSec4 */
  .section4 {
    height: 1200px;
    width: 100vw;
  }

  .airplane {
    top: 50px;
    width: 100vw;
    height: 15vh;
  }

  .section4__container {
    margin-top: 120px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .section4__pic {
    height: 320px;
    width: 300px;
  }

  .section4__img,
  .section4__text {
    height: 180px;
    width: 280px;
    margin-top: 15px;
  }

  .section4__p {
    font-size: 15px;
  }

  /* HomeSec5 */
  .section5__background {
    height: 100%;
    width: 100%;
  }

  .section5__container {
    width: 90%;
    height: 70%;
  }

  .section5__h2 {
    font-size: 34px;
  }

  .section5__text {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --home-frontpage-size: 140%;
    --home--backfround-pos: 3vw 7vh;
  }

  /* HomeSec1 */
  .home__section1 {
    background: none;
    justify-content: center;
    align-items: flex-end;
  }

  .section1__textBox {
    margin-bottom: 40px;
    margin-right: 0;
    width: 95vw;
    height: 40vh;
  }

  .section1__h1 {
    margin: 0;
    font-size: 28px;
  }

  .section1__p {
    font-size: 15px;
  }

  .section1__icon {
    font-size: 29px;
  }

  /* HomeSec2 */
  .section2__cards__box {
    height: 85vh;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(2, 40vh);
    justify-content: center;
  }

  .section2__card {
    height: 83%;
    width: 95%;
    margin: 0 auto;
  }

  .section2__h3 {
    font-size: 15px;
  }

  .section2__parraph {
    font-size: 11px;
  }

  /* HomeSec3 */
  .home__section3 {
    height: 95vh;
    flex-direction: column;
  }

  .home__section3__container {
    width: 95vw;
    height: 43%;
  }

  .section3__h2 {
    font-size: 35px;
  }

  .section3__text {
    font-size: 13px;
    padding: 10px;
  }

  .section3__hr {
    width: 80%;
    height: 2px;
  }

  .section3__img {
    margin-left: 0;
    height: 40vh;
    width: 55%;
  }

  /* HomeSec4 */
  .airplane {
    width: 100vw;
    height: 12vh;
    top: 0;
  }

  .section4__container {
    margin-top: 50px;
  }

  /* HomeSec5 */
  .section5__h2 {
    font-size: 30px;
  }

  .section5__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --home--backfround-pos: 3vw 11vh;
    --section4-background-size: 220%;
  }

  /* HomeSec1 */
  .section1__textBox {
    height: 45vh;
  }

  .section2__cards__box {
    height: 95vh;
  }

  /* HomeSec2 */
  .section2__card {
    height: 83%;
  }

  /* HomeSec3 */
  .section3__img {
    height: 45vh;
    width: 50%;
  }

  .home__section3 {
    height: 110vh;
  }

  /* HomeSec4 */
  .airplane {
    top: 45px;
    height: 10vh;
    width: 95vw;
  }

  /* HomeSec5 */
  .section5__container {
    height: 60%;
  }

  .section5__h2 {
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  /* HomeSec2 */
  .section2__h3 {
    font-size: 14px;
  }

  .section2__parraph {
    font-size: 10px;
  }
}
