.home{
    height: 300vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home__section1{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    text-align: center;
}

.home__textBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 33vw;
    height: 45vh;
    margin-right: 50px;
    color: var(--thrid-color);
}

.home__h1{
    font-size: 40px;
    margin-bottom: 5px;
    color: #525252;
}

.home__p{
    font-size: 22px;
    color: gray;
}

.home__section2{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
}

.box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    height: 40vh;
    width: 80vw;
    align-items: center;
    justify-content: center; 
    grid-auto-rows: auto;
}

.item{
    border: 1px solid #44D9EE;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    position: relative;
}

.box__icon{
    height: 100px;
    position: absolute;
    top: -75px;
    left: 20px;
}

.box__parraph{
    font-size: 20px;
}

.home__section3{
    height: 95vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    position: relative;
}

.airplane{
    width: 80vw;
    position: absolute;
    top: 70px
}

.travelimg1{
 width: 20vw;
}

.travelimg2{
   width: 20vw;
}

.banner{
    display: flex;
    justify-content: space-around;
    height: 50vh;
    width: 65vw;
    margin-top: 150px;
}

.travel__p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    border: 3px solid #0092A6;
    background-color: #44D9EE;
    font-size: 20px;
    padding: 15px;
}