.procedures{
  display: flex;
  flex-direction: column;
  height: 125vh;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
}

.procedures__tittle{
    font-size: 35px;
    margin-top: 5vh;
}

.cards__container{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 70vw;
  justify-content: center;
}

.card{
    width: 460px;
    height: 50vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    /*background-color: #00CAD1;*/
    background-color: #000;
    color: #fafafa;
    border: 2px solid #00CAD1;
}

.card:hover{
    cursor: pointer;
}

.card__img{
    height: 250px;
    width: 250px;
    border-radius: 15px;
}

.speciality__tittle{
    font-size: 25px;
}

.doctor__name{
    font-size: 20px;
}

.card__p{
    text-align: center;
    margin: 0 10px;
}