:root{
    --primary-color:#262626;
    --secondary-color: #54EAFF;
    --thrid-color: #D6D6D6;
  }

.footer{
    position: fixed;
    z-index: 12;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100vw;
    background-color: #262626;
}

.footer__icons__container{
    width: 9vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.footer__link{
  color: #fcfcfc;
  transition: 0.3s;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer__link:hover{
      color: #44D9EE;
}
  
.footer__icon{
  font-size: 31px;
}

  @media screen and (max-width: 1700px){

    .footer__icon{
      font-size: 27px;
    }

  }

  @media screen and (max-width: 1200px){

    .footer{
      height: 4vh
    }

    .footer__icons__container{
      width: 11vw;
    }
    
  }

  @media screen and (max-width: 900px) {

    .footer__icons__container{
      width: 14vw;
    }

    .footer__icon{
      font-size: 25px;
    }

  }

  @media screen and (max-width: 600px) {

    .footer__icons__container{
      width: 100px;
    }

    .footer__icon{
      font-size: 25px;
    }

  }